//- https://html-to-pug.com/ used to convert HTML to Pug and edited
extends layout

block content
  h1.company-title Motile Mycelia
  h2 About us!

  section.about-section
    img(src='/images/main.jpg' alt='Red mushroom on moss')
    .company-description
      p
        | Founded in 2020, 
        strong Motile Mycelia
        |  began as a two person team delivering mycelium from a small shed in 
        em Manistique, Michigan
        | . We now deliver to over 
        strong 25 countries!
        |  Our job is to deliver the best mycelia to all aspiring, experienced, and expert mushroom farmers!
        br
        |  Our products include:
      ul
        li Mushroom Spawns (mycelia kits)
        li
          | Our 
          em Signature
          |  Substrate
        li Growing Containers
        li Harvesting Tool Kit
      p
        | With every order, we include an instructional pamphlet for growing the Mushroom Spawn you choose. It outlines directions for growing, helpful tips, and includes information about your mycelium. We also include answers to a multitude of frequently asked questions!

  section.team-section
    div
      img(src='/images/cleo.png' alt='Cleo Cordycep photographing mushrooms in the woods')
      p
        strong Cleo Cordycep
        br
        | CEO
    div
      img(src='/images/madeline.png' alt='Madeline Mycelia farming mushrooms at our primary shipping location')
      p
        strong Madeline Mycelia
        br
        | CTO
    div
      img(src='/images/charley.png' alt='Charley Chanterella headshot')
      p
        strong Charley Chanterella
        br
        | Head Mycologist
